body {
    font-family: Arial;
    margin: 0;
}

/* HEADER */
header {
    background: #4da3ff;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV */
nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 20px;
}

/* PROFILE IMAGE */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    object-fit: cover;
}

/* SKILLS */
.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    background: #4da3ff;
    color: white;
    padding: 6px 10px;
    margin: 5px;
    border-radius: 20px;
}

/* PROJECTS */
.project {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}

/* BUTTON */
button {
    padding: 8px;
    background: white;
    border: none;
    cursor: pointer;
}

/* DARK MODE */
.dark {
    background: #222;
    color: white;
}

.dark header {
    background: #111;
}

.dark .project {
    background: #333;
}